---
import Layout from "../layouts/Layout.astro";
import TimeLine from "../components/TimeLine.astro";
import Seccion from "../components/Seccion.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="NuweSoft">
  <main class="px-6">
    <Navbar />

    <Seccion class="mt-12">
      <div class="relative h-full w-full bg-slate-950">
        <div
          class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
        >
        </div>
        <div
          class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
        >
        </div>
      </div>
      <h2 class="text-2xl font-bold mb-8 flex gap-x-3 items-center text-white">
        <BriefcaseIcon class="size-7" /> Experiencia Laboral
      </h2>
      <TimeLine />
    </Seccion>
  </main>
</Layout>
