---
import Seccion from "../components/Seccion.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="NuweSoft">
  <main>
    <Seccion class="mt-12">
      <div class="h-full w-full py-24">
        <div class="flex h-full flex-wrap items-center justify-center">
          <div
            class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12 max-sm:hidden"
          >
            <Image
              class={"w-full"}
              src=`https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp`
              width="720"
              height="720"
              alt="Sample image"
            />
          </div>
          <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
            <form>
              <div class="flex flex-row items-center justify-center">
                <h2 class="text-white mb-0 me-4 text-lg">Bienvenido</h2>
              </div>

              <div
                class="my-4 mb-10 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300 dark:before:border-neutral-500 dark:after:border-neutral-500"
              >
              </div>
              <div class="relative mb-6" data-twe-input-wrapper-init>
                <input
                  type="text"
                  class="peer block min-h-[auto] w-full rounded border-1 border-neutral-600 bg-white/5 bg-clip-padding px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-non text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                  placeholder="Correo"
                />
                <label
                  for="exampleFormControlInput2"
                  class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] text-white/80 transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[1.15rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary"
                  >Correo
                </label>
              </div>
              <div class="relative mb-6" data-twe-input-wrapper-init>
                <input
                  type="password"
                  class="peer block min-h-[auto] w-full rounded border-neutral-600 bg-white/5 px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
                  placeholder="Contraseña"
                />
                <label
                  for="exampleFormControlInput22"
                  class="text-white/80 pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[1.15rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary"
                  >Contraseña
                </label>
              </div>

              <!-- Login button -->
              <div class="text-center">
                <button
                  type="button"
                  class="w-full border border-0.5 rounded-full
                               justify-center items-center gap-x-2
                              py-1 px-2 md:py-2 md:px-4
                              text-xs md:text-base text-white
                              
                              border-white
                              transition
                              hover:bg-white/60 hover:scale-110"
                >
                  Ingresar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </Seccion>
  </main>
</Layout>
<script>
  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const correo = (document.getElementById("correo") as HTMLInputElement)
      .value;
    const password = (document.getElementById("password") as HTMLInputElement)
      .value;

    const data = {
      correo,
      password,
    };
    try {
      const reponse = await fetch("https://api-nuwesoft.onrender.com/auth", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });
      if (reponse.ok) {
        const repData = await reponse.json();

        localStorage.setItem("token", repData.token);
      } else {
        console.log(reponse.status);
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
