---
import Badge from "./Badge.astro";
---
<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
  Hey, soy NuweSoft <a
    href="https://www.linkedin.com/in/jhonatan-ancasi-363b10182/"
    target="_blank"
    rel="noopener noreferrer"
    class="flex justify-center items-center"
  >
    <Badge>Disponible para trabajar</Badge>
  </a>
</h1>
<p class="mt-6 text-xl lg:text-2xl leading-8 text-gray-300 text-wrap">
  <span class="text-white">+4 años de experiencia. </span>
  <span class="text-red-200/90">Desarrollador Web. </span>
  <span class="text-yellow-200/90">De Tarija, Bolivia.</span>
  <span class="text-green-200/90">Especializado en crear aplicaciones web únicas.</span></p>