---

import { Image } from "astro:assets"
---
<nav class="bg-neutral-950 flex flex-wrap justify-center items-center text-white sticky top-0 z-10">
  <div class="mx-auto px-4 sm:px-6 lg:px-8 p-2">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 mr-4 max-sm:hidden">
          <Image class={"h-12 w-auto rounded-full"} src=`/img/logo.jpg` width="64" height="64" alt="NuweSoft" />
        </div>

        <div class="flex space-x-3 items-center">
          <a
            href="/"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium focus:border border-transparent border-2 active:bg-gray-700 active:text-white"
            aria-current="page">Inicio</a>
          <a
            href="/sobre-mi"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium focus:border border-transparent border-2 active:bg-gray-700 active:text-white"
            >Sobre mi</a>
          <a
            href="/proyectos"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium focus:border border-transparent border-2 active:bg-gray-700 active:text-white"
            >Projectos</a>
          <a
            href="/contacto"
            class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium focus:border border-transparent border-2 active:bg-gray-700 active:text-white"
            >Contacto</a>
        </div>
      </div>
    </div>
  </div>
</nav>
