<nav class="bg-neutral-950 flex flex-wrap justify-center items-center text-white sticky top-0 z-10">
  <div class="px-2 sm:px-6 lg:px-8 p-4 w-full overflow-x-auto">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"></div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 mr-4">
          <img
            class="h-14 w-auto rounded-full"
            src="https://lanzadera.es/wp-content/uploads/2022/04/nuwe-logo.png"
            alt="NuweSoft"
          />
        </div>

        <div class="flex space-x-3 items-center">
          <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Inicio</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Sobre mi</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projectos</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contacto</a>
        </div>
      </div>
    </div>
  </div>
</nav>

